Q.1

(i) String

In [3]:
s = "gyana"

In [4]:
s

'gyana'

In [5]:
type(s)

str

(ii) List

In [6]:
l = [1,2,3,4,5,45,639,23.45,"gyana",7+8j,True]

In [7]:
l

[1, 2, 3, 4, 5, 45, 639, 23.45, 'gyana', (7+8j), True]

In [8]:
type(l)

list

(iii) Float

In [14]:
f = 45.89

In [15]:
f

45.89

In [16]:
type(f)

float

(iv) Tuple

In [17]:
t = (1,2,3,4,56.78,"gyana",True,5+6j)

In [18]:
t

(1, 2, 3, 4, 56.78, 'gyana', True, (5+6j))

In [19]:
type(t)

tuple

Q.5

In [3]:
A=7
B=3
while B % A :
    print(B)
    B = B+1

3
4
5
6

Q.7

Mutable object are those that allow you to change their value or data in place without affecting the object's identity .
In contrast immutable object don't allow this kind of operation

Mutable object                                            Immutable object

1. A mutable object can be changed after it is           1. A immutable object cannot be changed after it is
   created                                                  ceeated
    
2. example - 1. List                                     2. example - 1. Tuples
             2. Set                                                   2. Int
             3. Dictionary                                            3. Float
                                                                      4. Bool
                                                                      5. Frozenset
                                                                      6. Str

Q.6

In [8]:
n = 25
for i in range (0,n):
    if i % 3 == 0:
        print (i, end = " ")

0 3 6 9 12 15 18 21 24

Q.3

(i) Division operator (/)

In [9]:
1/2

0.5

(ii) percent(%)

In [10]:
1%4

1

(iii) Division flor (//)

In [11]:
5//4

1

(iv) Exponent operator (**)

In [12]:
2**3

8

In [13]:
var1 =''

In [14]:
type(var1)

str

In [15]:
var2='[DS,ML,python]'

In [16]:
type(var2)

str

In [17]:
var3 = ['DS','ML','python']

In [18]:
type(var3)

list

In [21]:
var4=l.

SyntaxError: invalid syntax (4092350180.py, line 1)

In [22]:
type(var4)

float